<div class="container register">
  <div class="row">
    <div class="col-md-3 register-left">
      <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
      <h3>Welcome</h3>
      <p>You can add new administrators and new Moderators....!</p>
      <!-- <input type="submit" name="" value="Login" /><br /> -->
      <div class="input-group form-group">
        <ng-flash-message></ng-flash-message>
      </div>
    </div>
    <div class="col-md-9 register-right">
      <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
            aria-selected="true">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
            aria-selected="false">Moderator</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <h3 class="register-heading">Add New Admin</h3>

          <form (submit)="onAdminRegisterSubmit()" [formGroup]="adminRegisterForm">

          <div class="row register-form">

            <div class="col-md-6">

              <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-user"></i></span>
                </div>
                <input name="username" formControlName="username" type="text" class="form-control"
                  placeholder="{{'REGISTER.PLACEHOLDER_USERNAME' | translate}}"
                  [ngClass]="{'is-invalid': (username.touched || username.dirty) && username.invalid }">
                <div class="invalid-feedback" *ngIf="(username.touched || username.dirty) && username.invalid">
                  Enter your first name.
                </div>
              </div>

              <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-user"></i></span>
                </div>
                <input name="fName" formControlName="fName" type="text" class="form-control"
                  placeholder="{{'REGISTER.PLACEHOLDER_FNAME' | translate}}"
                  [ngClass]="{'is-invalid': (fName.touched || fName.dirty) && fName.invalid }">
                <div class="invalid-feedback" *ngIf="(fName.touched || fName.dirty) && fName.invalid">
                  Enter your first name.
                </div>
              </div>

              <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-user"></i></span>
                </div>
                <input name="lName" formControlName="lName" type="text" class="form-control"
                  placeholder="{{'REGISTER.PLACEHOLDER_LNAME' | translate}}"
                  [ngClass]="{'is-invalid': (lName.touched || lName.dirty) && lName.invalid }">
                <div class="invalid-feedback" *ngIf="(lName.touched || lName.dirty) && lName.invalid">
                  Enter your last name.
                </div>
              </div>

              <!-- <div class="form-group">
                <select class="form-control">
                  <option class="hidden" selected disabled>Please select your Security Question</option>
                  <option>What is your Birth date?</option>
                  <option>What is Your old Phone Number</option>
                  <option>What is your Pet Name?</option>
                </select>
              </div> -->

              <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-venus-mars"></i></span>
                </div>
                <select name="gender" formControlName="gender" class="form-control" id="gender" type="text"
                  [ngClass]="{'is-invalid': (gender.touched || gender.dirty) && gender.invalid }">
                  <div class="invalid-feedback" *ngIf="(gender.touched || gender.dirty) && gender.invalid">
                    Enter your gender.
                  </div>
                  <option selected>{{'REGISTER.PLACEHOLDER_GENDER' | translate}}</option>
                  <option value="Male">{{'REGISTER.PLACEHOLDER_GENDER1' | translate}}</option>
                  <option value="Female">{{'REGISTER.PLACEHOLDER_GENDER2' | translate}}</option>
                </select>
              </div>

            </div> <!--end col-md-6-->

            <div class="col-md-6">

              <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-id-card"></i></span>
                </div>
                <input name="nic" formControlName="nic" type="text" class="form-control"
                  placeholder="{{'REGISTER.PLACEHOLDER_NIC' | translate}}"
                  [ngClass]="{'is-invalid': (nic.touched || nic.dirty) && nic.invalid }">
                <div class="invalid-feedback" *ngIf="(nic.touched || nic.dirty) && nic.invalid">
                  Enter your NIC number.
                </div>
              </div>

              <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                </div>
                <input name="email" formControlName="email" type="email" class="form-control"
                  placeholder="{{'REGISTER.PLACEHOLDER_EMAIL' | translate}}"
                  [ngClass]="{'is-invalid': (email.touched || email.dirty) && email.invalid }">
                <div class="invalid-feedback" *ngIf="(email.touched || email.dirty) && email.invalid">
                  Enter a valid e-mail address.
                </div>
                <!-- <small id="emailHelp" class="form-text text-muted" *ngIf="!(email.touched || email.dirty)">
                              We'll never share your email with anyone else.
                          </small> -->
              </div>

              <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-phone"></i></span>
                </div>
                <input name="phone" formControlName="phone" type="text" [pattern]="mobNumberPattern" class="form-control"
                  placeholder="{{'REGISTER.PLACEHOLDER_PHONE' | translate}}"
                  [ngClass]="{'is-invalid': (phone.touched || phone.dirty) && phone.invalid }">
                <div class="invalid-feedback" *ngIf="(phone.touched || phone.dirty) && phone.invalid">
                  Enter your phone number.
                </div>
              </div>

              <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-key"></i></span>
                </div>
                <input name="password" formControlName="password" type="password" class="form-control"
                  placeholder="{{'REGISTER.PLACEHOLDER_PASSWORD' | translate}}"
                  [ngClass]="{'is-invalid': (password.touched || password.dirty) && password.invalid }">
                <div class="invalid-feedback" *ngIf="(password.touched || password.dirty) && password.invalid">
                  Enter a password for your account.
                </div>
                <!-- <password-strength-meter id="passwordHelp" [enableFeedback]="true" [password]="password.value"
                            *ngIf="(password.touched || password.dirty)">
                        </password-strength-meter> -->
              </div>

              <!-- <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter Your Answer *" value="" />
              </div>-->
              <input type="submit" class="btnRegister" value="Register" />

            </div> <!--end col-md-6-->

          </div> <!--end row register-form-->
          </form> <!--end form-->
        </div>

        <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <h3 class="register-heading">Add New Moderator</h3>

          <form (submit)="onModRegisterSubmit()" [formGroup]="modRegisterForm">
            <div class="row register-form">
              <div class="col-md-6">

                <div class="input-group form-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                  </div>
                  <input name="modusername" formControlName="modusername" type="text" class="form-control"
                    placeholder="{{'REGISTER.PLACEHOLDER_USERNAME' | translate}}"
                    [ngClass]="{'is-invalid': (modusername.touched || modusername.dirty) && modusername.invalid }">
                  <div class="invalid-feedback" *ngIf="(modusername.touched || modusername.dirty) && modusername.invalid">
                    Enter your first name.
                  </div>
                </div>

                <div class="input-group form-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                  </div>
                  <input name="modfName" formControlName="modfName" type="text" class="form-control"
                    placeholder="{{'REGISTER.PLACEHOLDER_FNAME' | translate}}"
                    [ngClass]="{'is-invalid': (modfName.touched || modfName.dirty) && modfName.invalid }">
                  <div class="invalid-feedback" *ngIf="(modfName.touched || modfName.dirty) && modfName.invalid">
                    Enter your first name.
                  </div>
                </div>

                <div class="input-group form-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                  </div>
                  <input name="modlName" formControlName="modlName" type="text" class="form-control"
                    placeholder="{{'REGISTER.PLACEHOLDER_LNAME' | translate}}"
                    [ngClass]="{'is-invalid': (modlName.touched || modlName.dirty) && modlName.invalid }">
                  <div class="invalid-feedback" *ngIf="(modlName.touched || modlName.dirty) && modlName.invalid">
                    Enter your last name.
                  </div>
                </div>

                <!-- <div class="form-group">
                                <select class="form-control">
                                  <option class="hidden" selected disabled>Please select your Security Question</option>
                                  <option>What is your Birth date?</option>
                                  <option>What is Your old Phone Number</option>
                                  <option>What is your Pet Name?</option>
                                </select>
                              </div> -->

                <div class="input-group form-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-venus-mars"></i></span>
                  </div>
                  <select name="modgender" formControlName="modgender" class="form-control" id="modgender" type="text"
                    [ngClass]="{'is-invalid': (modgender.touched || modgender.dirty) && modgender.invalid }">
                    <div class="invalid-feedback" *ngIf="(modgender.touched || modgender.dirty) && modgender.invalid">
                      Enter your gender.
                    </div>
                    <option selected>{{'REGISTER.PLACEHOLDER_GENDER' | translate}}</option>
                    <option value="Male">{{'REGISTER.PLACEHOLDER_GENDER1' | translate}}</option>
                    <option value="Female">{{'REGISTER.PLACEHOLDER_GENDER2' | translate}}</option>
                  </select>
                </div>

              </div>
              <!--end col-md-6-->

              <div class="col-md-6">

                <div class="input-group form-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-id-card"></i></span>
                  </div>
                  <input name="modnic" formControlName="modnic" type="text" class="form-control"
                    placeholder="{{'REGISTER.PLACEHOLDER_NIC' | translate}}"
                    [ngClass]="{'is-invalid': (modnic.touched || modnic.dirty) && modnic.invalid }">
                  <div class="invalid-feedback" *ngIf="(modnic.touched || modnic.dirty) && modnic.invalid">
                    Enter your NIC number.
                  </div>
                </div>

                <div class="input-group form-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                  </div>
                  <input name="modemail" formControlName="modemail" type="modemail" class="form-control"
                    placeholder="{{'REGISTER.PLACEHOLDER_EMAIL' | translate}}"
                    [ngClass]="{'is-invalid': (modemail.touched || modemail.dirty) && modemail.invalid }">
                  <div class="invalid-feedback" *ngIf="(modemail.touched || modemail.dirty) && modemail.invalid">
                    Enter a valid e-mail address.
                  </div>
                  <!-- <small id="emailHelp" class="form-text text-muted" *ngIf="!(email.touched || email.dirty)">
                                              We'll never share your email with anyone else.
                                          </small> -->
                </div>

                <div class="input-group form-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-phone"></i></span>
                  </div>
                  <input name="modphone" formControlName="modphone" type="text" [pattern]="mobNumberPattern" class="form-control"
                    placeholder="{{'REGISTER.PLACEHOLDER_PHONE' | translate}}"
                    [ngClass]="{'is-invalid': (modphone.touched || modphone.dirty) && modphone.invalid }">
                  <div class="invalid-feedback" *ngIf="(modphone.touched || modphone.dirty) && modphone.invalid">
                    Enter your phone number.
                  </div>
                </div>

                <div class="input-group form-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-venus-mars"></i></span>
                  </div>
                  <select name="police_station" formControlName="police_station" class="form-control" id="police_station" type="text"
                    [ngClass]="{'is-invalid': (police_station.touched || police_station.dirty) && police_station.invalid }">
                    <div class="invalid-feedback" *ngIf="(police_station.touched || police_station.dirty) && police_station.invalid">
                      Enter your gender.
                    </div>
                    <option selected>{{'REGISTER.PLACEHOLDER_GENDER' | translate}}</option>
                    <option value="Karandeniya">{{'REGISTER.PLACEHOLDER_GENDER1' | translate}}</option>
                    <option value="Ambalangoda">{{'REGISTER.PLACEHOLDER_GENDER2' | translate}}</option>
                  </select>
                </div>

                <div class="input-group form-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-key"></i></span>
                  </div>
                  <input name="modpassword" formControlName="modpassword" type="password" class="form-control"
                    placeholder="{{'REGISTER.PLACEHOLDER_PASSWORD' | translate}}"
                    [ngClass]="{'is-invalid': (modpassword.touched || modpassword.dirty) && modpassword.invalid }">
                  <div class="invalid-feedback" *ngIf="(modpassword.touched || modpassword.dirty) && modpassword.invalid">
                    Enter a password for your account.
                  </div>
                  <!-- <password-strength-meter id="passwordHelp" [enableFeedback]="true" [password]="password.value"
                                            *ngIf="(password.touched || password.dirty)">
                                        </password-strength-meter> -->
                </div>


                <!-- <div class="form-group">
                  <input type="text" class="form-control" placeholder="Enter Your Answer *" value="" />
                </div> -->
                <input type="submit" class="btnRegister" value="Register" />

              </div>
              <!--end col-md-6-->

            </div>
            <!--end row register-form-->
          </form>
          <!--end form-->

        </div>
      </div>
    </div>
  </div>

</div>

<app-footer></app-footer>
