<body>
  <div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
      <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper">
      <div class="sidebar-content">
        <div class="sidebar-brand">
          <a href="#">Welcome User</a>
          <div id="close-sidebar">
            <i class="fas fa-times"></i>
          </div>
        </div>
        <div class="sidebar-header">
          <div class="user-pic">
            <img class="img-responsive img-rounded"
              src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
              alt="User picture">
          </div>
          <div class="user-info">
            <span class="user-name">{{user.fName}}
              <strong>{{user.lName}}</strong>
            </span>
            <span class="user-role">Admin</span>
            <span class="user-status">
              <i class="fa fa-circle"></i>
              <span>Online</span>
            </span>
          </div>
        </div>
        <!-- sidebar-header  -->
        <div class="sidebar-search">
          <div>
            <div class="input-group">
              <input type="text" class="form-control search-menu" placeholder="Search...">
              <div class="input-group-append">
                <span class="input-group-text">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <!-- sidebar-search  -->
        <div class="sidebar-menu">
          <ul>
            <li class="header-menu">
              <span>General</span>
            </li>

            <li>
              <a href [routerLink]="'/admin_dashboard'">
                  <i class="fa fa-dashboard"></i>
                  <span>Dashboard</span>
              </a>
          </li>
            <li>
              <a href [routerLink]="'/own_item'">
                <i class="fa fa-plus"></i>
                <span>Add Item</span>
              </a>
            </li>
            <li>
              <a href [routerLink]="'/mod_profile'">
                <i class="fa fa-user"></i>
                <span>Edit profile</span>
              </a>
            </li>
            <li>
              <a href [routerLink]="'/add_moderator'">
                <i class="fa fa-plus"></i>
                <span>Add Moderator</span>
              </a>
            </li>



          </ul>
        </div>
        <!-- sidebar-menu  -->
      </div>
      <!-- sidebar-content  -->

    </nav>
    <!-- sidebar-wrapper  -->
    <main class="page-content">
      <div class="container-fluid">
        <h2>Admin Dashboard</h2>
        <br>
        <div class="row mb-4">
          <div class="col-md-3">
              <div class="card text-white bg-primary">
                  <div class="card-header">Found</div>
                  <div class="card-body">
                      <button type="button" class="btn btn-light btn-lg btn-block">{{allFoundCount}}</button>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="card text-white bg-primary">
                  <div class="card-header">Lost</div>
                  <div class="card-body">
                      <button type="button" class="btn btn-light btn-lg btn-block">{{lostCount}}</button>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="card text-white bg-primary">
                  <div class="card-header">Complain</div>
                  <div class="card-body">
                      <button type="button" class="btn btn-light btn-lg btn-block">{{complain}}</button>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="card text-white bg-primary">
                  <div class="card-header">No of Users</div>
                  <div class="card-body">
                      <button type="button" class="btn btn-light btn-lg btn-block"></button>
                  </div>
              </div>
          </div>
      </div>


      <ul class="nav nav-tabs nav-justified md-tabs indigo" id="myTabJust" role="tablist">
          <li class="nav-item">
              <a class="nav-link active" id="home-tab-just" data-toggle="tab" href="#home-just" role="tab" aria-controls="home-just" aria-selected="true">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" id="profile-tab-just" data-toggle="tab" href="#profile-just" role="tab" aria-controls="profile-just" aria-selected="false">Profile</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" id="contact-tab-just" data-toggle="tab" href="#contact-just" role="tab" aria-controls="contact-just" aria-selected="false">Contact</a>
          </li>
      </ul>

      <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
      </div>

      <footer class="text-center">
          <div class="mb-2"></div>


        </footer>
      </div>
    </main>
    <!-- page-content" -->
  </div>
  <!-- page-wrapper -->

</body>
