<form>
    <div class="container">
      <h1>Enter a new post </h1>
    <hr>
    
        <label for="lblcomplain"><b>Complain category</b></label>
        <input type="text" name="complain" id="complain" required>
        <br>
        <label for="lblmodelid"><b>Model ID</b></label>
        <input type="text" name="modelid" id="modelid" required>
        <br>
        <label for="lblmodelname"><b>Modelname</b></label>
        <input type="text" name="modelname" id="modelname" required>
        <br>
        <label for="lblitemid"><b>Item ID</b></label>
        <input type="text" name="itemid" id="itemid">
        <br>
        <label for="lblphone"><b>Location</b></label>
        <input type="text" name="loc" id="loc">
        <br>
        <label for="lblldate"><b>Lost Date</b></label>
        <input type="date" name="ldate" id="ldate" required>
        <br>
        <label for="lbldes"><b>Description</b></label>
        <input type="text" name="des" id="des">
        <br>
        <label for="lblimg"><b>Image</b></label>
        <input type="image" name="img" id="img">
        <br>

    
        
  
    

   <button type="submit" class="registerbtn" (click)="btnClick();"> Submit</button>
   <button type="cancel" class="registerbtn" (click)="btnClick();"> Back</button>     


    </div>
  
    
  </form>

