<form>
    <div class="container">
      <h1>Enter a new post </h1>
    <hr>
    
        <label for="lblname"><b>First Name</b></label>
        <input type="text" name="name" id="name" required>
        <br>
        <label for="lblname"><b>Last Name</b></label>
        <input type="text" name="name" id="name" required>
        <br>
        <label for="lblnic"><b>NIC/Passpoart</b></label>
        <input type="text" name="id" id="id" required>
        <br>
        <label for="lblemail"><b>Email</b></label>
        <input type="email" name="email" id="email">
        <br>
        <label for="lblphone"><b>Contact Number</b></label>
        <input type="tel" name="phone" id="phone">
        <br>
        <label for="lbladd"><b>Address</b></label>
        <input type="text" name="add" id="add" required>
        <br>
        <label for="lbladd"><b>Gender</b></label><br>
        <input type="radio" id="male" name="gender" value="male">
        <label for="male">Male</label><br>
        <input type="radio" id="female" name="gender" value="female">
        <label for="female">Female</label><br>
    
        
  
    

   <button type="button" class="registerbtn" (click)="btnClick();"> Next</button>    


    </div>
  
    
  </form>
