<body>
  <div class="wrapper ">
    <div class="sidebar" data-color="white" data-active-color="danger">
      <div class="logo">

      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="active ">
            <a href="#">
              <i class="nc-icon nc-bank"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li>

            <i class="nc-icon nc-single-02"></i>
            <p target="_blank" routerLink="/user_profile">Ofiicer Profile</p>

          </li>
          <li>
            <a href="./map.html">
              <i class="nc-icon nc-bell-55"></i>
              <p>Complaints</p>
            </a>
          </li>
          <li>
            <a href="./notifications.html">
              <i class="nc-icon nc-tile-56"></i>
              <p>Add New Post</p>
            </a>
          </li>


        </ul>
      </div>
    </div>

    <div class="main-panel">

      

    </div>
  </div>
</body>