<footer class="ftco-footer ftco-footer-2 ftco-section">
  <div class="container">
    <div class="row mb-5">

      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Find X</h2>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft">
            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
          </ul>
        </div>
      </div>

      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Have a Questions?</h2>
          <div class="block-23 mb-3">
            <ul>
              <div>
                <li class="fa fa-map-marker"><span class="icon icon-map-marker"></span><span class="text ml-3">Police Department, Sri Lanka</span></li>
              </div>
              <div>
                <li class="fa fa-phone"><a href="#"><span class="text ml-3">+1 111 111 111</span></a></li>
              </div>
              <div>
                <li class="fa fa-envelope"><a href="#"><span class="icon icon-envelope"></span><span  class="text ml-3">findx@gmail.com</span></a></li>
              </div>
            </ul>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> Find X Union <i class="fa fa-heart color-danger" aria-hidden="true"></i> by <a target="_blank">DarkUnicornz</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
      </div>
    </div>

  </div>
</footer>

<!-- class="fas fa-map-marker-alt"
class="fas fa-phone-volume" -->
