<!-- <div class="row"> -->
  <!-- <div class="col-md-6 mt-5"> -->
    <carousel>
      <slide>
        <img src="assets/images/home/slid1.jpeg" style="width: 1500px ; height: 500px;" alt="first slide"> <!--style="display: block; width: 100%; height: 300px;"-->
        <div class="carousel-caption d-none d-md-block">
          <h3 style="color: black; font: bold; font-size: 100px;">Find X</h3>
          <h1 style="color: black; font: bold; font-size: 40px;">Lost & Found Platform</h1>
        </div>
      </slide>
      <slide>
        <img src="assets/images/home/slide2.jpg" style="width: 1500px; height: 500px;" alt="second slide">
        <div class="carousel-caption d-none d-md-block">
          <h3 style="color: black; font: bold; font-size: 100px;">Find X</h3>
          <h1 style="color: black; font: bold; font-size: 40px;">Lost & Found Platform</h1>
        </div>
      </slide>
      <slide>
        <img src="assets/images/home/8.jpg" style="width:1500px; height: 500px;" alt="third slide">
        <div class="carousel-caption d-none d-md-block">
          <h3 style="color: black; font: bold; font-size: 100px;">Find X</h3>
          <h1 style="color: black; font: bold; font-size: 40px;">Lost & Found Platform</h1>
        </div>
      </slide>
    </carousel>
  <!-- </div>

  <div class="col-md-8">

  </div> -->
<!-- </div> -->

<app-footer></app-footer>
